.information {
  display: flex;
  flex-direction: column;
  &__title {
  }
  &__list {
    display: flex;
    flex-direction: column;
    &-item {
      &-link {
        color: $colorBrandBlack;
      }
    }
  }
}
