.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  @include lg {
    margin: 0;
  }

  &__button {
    margin-left: 18px;
    padding: 0;
    border: none;
    height: 30px;
    width: 30px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    &_type_burger {
      @include lg {
        display: none;
      }
    }
  }
}
