.product {
  padding-top: 65px;
  @include lg {
    padding-top: 66px;
  }
  &__container {
    margin: 0 auto;
    max-width: 1390px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding-bottom: 58px;

    @include lg {
      grid-template-columns: 1fr 1fr;
      padding-bottom: 28px;
    }
  }
}
