.subscribe {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 452px;
  width: 100%;
  @include sm {
    padding-left: 6px;
  }
  &__title {
    max-width: 200px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $colorBrandBlack;
    text-align: left;
    padding-bottom: 26px;
    @include sm {
      max-width: 100%;
      margin-bottom: 41px;
    }
  }
  &__errors {
    position: absolute;
    display: block;
    border-radius: 5px;
    top: 48px;
    text-align: left;
    font-weight: 700;
    @include sm {
      top: 33px;
    }
    &-item {
      color: red;
    }
  }
  &__container {
    position: relative;
    width: 100%;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      top: 35px;
      border-bottom: 1px solid $border;
    }
  }
  &__input {
    box-sizing: border-box;
    padding: 0 15px 0 0;
    width: 90%;
    height: 25px;
    outline: none;
    border: none;
    position: relative;
    background-clip: padding-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: $colorBrandGrey;
  }
  &__button-reset {
    position: absolute;
    display: flex;
    top: 4px;
    right: 5px;
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;
    background: none;
    border-radius: 50%;
    transition: background-color linear 0.2s;
    &:hover {
      background-color: rgba(65, 65, 65, 0.8);
    }
  }
  &__submit {
    margin-top: 36px;
    background: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    width: 150px;
    height: 36px;
    border: 1px solid $colorBrandBlack;
    align-self: flex-end;
    cursor: pointer;
    @include md {
      margin-top: 44px;
    }
  }
}
